$hoverBtnColor: #054575;
$whiteDefault: #fff;
$viewColor: #055c9d;

.calc-button-row {
  width: 100%;
  background: $viewColor ;
}

.calc-btn {
  color: whiteDefault;
  display: inline-block;
  font-size: 25px;
  margin-right: -4px;
  padding: 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
  width: 25%;

  &:hover {
    background: $hoverBtnColor;
  }

  &__operator {
    color: #AEB3BA;
    background: $viewColor;

    &:hover {
      background: $hoverBtnColor;
      color: $whiteDefault;
    }
  }

  &__number {
    color: $whiteDefault;
    background: $viewColor;

    &:hover {
      background: $hoverBtnColor;
      color: $whiteDefault;
    }
  }

  &__clear {
    color: #ec5900;
    background: $viewColor;

    &:hover {
      background: $hoverBtnColor;
      color: $whiteDefault;
    }
  }
}
