* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #EAEBEC;
}

.calculator {
  width: 400px;
  margin: 20px auto;
}

.calculator-body {
  width: 375px;
  margin: auto;
  min-height: 400px;
  box-shadow: 0 8px 50px -7px black;
}
